.edit-container {
    max-width: 600px;
    margin: 40px auto;
    background: linear-gradient(135deg, #ffe6f2, #ffd4e5);
    padding: 30px;
    border-radius: 10px;
  }
  .back-btn {
    background: none;
    border: none;
    color: #c71585;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 15px;
  }
  
  .back-btn:hover {
    text-decoration: underline;
  }
  .heading{
    text-align: center;
  }
  .edit-form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-form label {
    margin-top: 15px;
    font-weight: 600;
    color: #2c7a2c;
  }
  
  .edit-form input,
  .edit-form textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #b2f5ea;
  }
  
  .save-btn {
    margin-top: 25px;
    background: #2ecc71;
    color: white;
    padding: 12px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }
  .edit-form select {
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
  }
  